* {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  font-family: Arial, sans-serif;
  display: flex;

  align-items: center;
}
.logo {
  margin: auto 35px;
}
.logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.links {
  width: 100%;
  display: flex;
}

header .link {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header .link li {
  list-style: none;
}

header .link li i {
  font-size: 14px;
  cursor: pointer;
}


.dropdown {
  position: absolute;
  top: 55px;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 15px;
  display: block;
}
header ul li a:hover {
  color: blue;
}
header ul li i:hover {
  transform: rotateX(180deg);
}
header ul li i :hover {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: all 300ms ease-in-out;
}

header ul li:hover .dropdown {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.dropdown li {
  margin-bottom: 5px;
}

.dropdown li a {
  border-bottom: 1px solid grey;
  font-size: 13px;
}

header ul li a {
  color: grey;
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
}

.menu {
  display: none;
  font-size: 0.9rem;
  cursor: pointer;
  margin-right: 40px;
}

@media (max-width: 1150px) {
  .menu {
    display: block;
    display: flex;
    justify-content: space-between;
  }
  header .link {
    display: none;
    width: auto;
  }
  .link {
    position: fixed;
    left: 0px;
    top: 57px;
    padding: 80px;
    padding-left: 30px;
    padding-bottom: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .link li {
    margin-bottom: 25px;
  }
  .link li a {
    color: black;
    font-size: 1.2rem;
   cursor: pointer;
  }
}
